.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 0;
}

.trainer-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100%;
  gap: 2rem;
  box-sizing: border-box;
}
